# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""

//
  "nome": "Felisberti Felicio Filho",
  "cpf":"987.654.321-09",
  "data_nascimento": "2003-10-01T00:00:00Z",
  "email": "felisberto@industria.ind.br",
  "logradouro": "Av. Presidente Vargas",
  "num_imovel" : "947",
  "complemento": "Ap. 09",
  "bairro" :" Cidade Nova",
  "municipio": "Franca",
  "uf" : "SP",
  "cep": "14400-099",
  "celular": "(19) 98765-4321" 
  
